# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables
.env

# Data
data/
outputs/
experiments/*/artifacts/
experiments/*/figures/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Workbench
notebooks/workbench.ipynb
